<section class="bestiary-section">
  <div class="bestiary-section__container container">

    <h1 class="bestiary-section__title">Бестіарій</h1>

    <div class="bestiary-section__btn-box bestiary-btn-box">

      <div class="bestiary-btn-box__myth myth-btns">
        <button type="button" class="myth-btns__ukr">
          В укр. міфології
        </button>
        <button type="button" class="myth-btns__witcher">
          У грі Відьмак
        </button>
      </div>

      <div class="bestiary-btn-box__sort sort-btns">
        <button type="button" class="sort-btns__sort">
          Сортування
        </button>
        <button type="button" class="sort-btns__alphabet">
          За алфавітом
        </button>
      </div>

    </div>
  </div>
</section>