.characters-btn-box__myth {
  position: relative;

  font-family: var(--secondary-font);
  text-align: center;
  @include flex;
  border-bottom: 2px solid rgb(50, 53, 54);

  &>button {
    @include flex;
    column-gap: 8px;

    line-height: 150%;
    letter-spacing: 0.01em;

    color: #cdc4ce;
    background: #101415;
    padding: 12px 10px;

    @media (min-width: 790px) {
      padding: 9px 16px;
    }
  }

  &::before {
    content: '';
    position: absolute;

    transition: all 300ms;

    bottom: 0;
    left: 0;

    transform: translateX(100%);

    height: 2px;
    width: 50%;

    background: rgb(173, 198, 255);
  }
}

.characters-btn__witcher {
  font-weight: 500;
}

.characters-btn__ukr {
  font-weight: 500;
}

.characters__logo {
  border-radius: 50%;
}

// -----btn-active------

.characters-btn__active {
  font-weight: 700;

  &::before {
    transform: translateX(0%);
  }
}

.nav-btn_hidden {
  display: none;

  @media (min-width: 790px) {
    display: block;
  }
}

.characters-item__logo {
  background-color: #000000;
  border-radius: 50%;
}

.characters-item__logo_inner {
  fill: rgba(255, 255, 255, 0.709);
}