<div class="backdrop-borovik-gallery js-backdrop-witche-gallery backdrop-borovik-gallery--hidden">

  <div class="nav-btn-container container">
    <div class="container__inner">
      <button class="nav-btn-container__btn nav-btn-container__btn_arr js-backdrop-close">
        <svg class="nav-btn-container__icon">
          <use href="./images/sprite.svg#icon-arrow-btn-left"></use>
        </svg>
      </button>

      <div class="nav-btn-container__btn-box">

        <a href="#" class="nav-btn-container__btn js-btn-plus">
          <svg class="nav-btn-container__icon nav-btn-container__icon_small">
            <use href="./images/sprite.svg#icon-btn-plus"></use>
          </svg>
        </a>

        <a href="#" class="nav-btn-container__btn js-btn-minus">
          <svg class="nav-btn-container__icon">
            <use href="./images/sprite.svg#icon-btn-minus"></use>
          </svg>
        </a>

        <!-- <a href="#" class="nav-btn-container__btn">
          <svg class="nav-btn-container__icon nav-btn-container__icon_small">
            <use href="./images/sprite.svg#icon-container"></use>
          </svg>
        </a> -->

        <a href="#" class="nav-btn-container__btn">
          <svg class="nav-btn-container__icon">
            <use href="./images/sprite.svg#icon-toggleable-dark"></use>
          </svg>
        </a>

      </div>
    </div>
  </div>

  <div class="container backdrop-borovik__container">

    <div class="borovik-modal js-witche-modal">

      <picture class="js-picture">
        <img class="borovik-modal__img js-witche-modal-img" src="#" alt="404">
      </picture>

      <video class="js-witche-modal-video" autoplay loop hidden width="100%" height="100%"
        src="./video/page-witch/Enchantress.mp4">
      </video>

    </div>

    <ul class="backdrop-borovik-gallery_small small-gallery js-small-gallery">
      <li class="small-gallery__item" data-id="1">
        <img class="small-gallery__img" src="./images/characters/white-whitch-1.png" alt="white-whitch">
      </li>
      <li class="small-gallery__item" data-id="2">
        <img class="small-gallery__img" src="./images/characters/Witche/witch-img-2.jpg" alt="witch-img-2">
      </li>
      <li class="small-gallery__item" data-id="3">
        <img class="small-gallery__img small-gallery__img_left" src="./images/characters/Witche/witch-img-3.jpg"
          alt="witch-img-3">
      </li>
      <li class="small-gallery__item" data-id="4">
        <img class="small-gallery__img" src="./images/characters/Witche/witch-img-4.jpg" alt="witch-img-4">
      </li>
    </ul>

  </div>

  <ul class="wolf-head-img__box-urk js-wolf-head-img-box-urk">
    <li class="wolf-head-img__wrapper">
      <img src="./images/page-borovik/wolf-head-witcher/item-img-1.png" alt="wolf-head-uk" hidden>
    </li>
  </ul>

</div>