@import '~node_modules/modern-normalize/modern-normalize.css';

@font-face {
  font-family: GWENT;
  src: url(../fonts/GWENT-font.ttf);
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--white-base-color);
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

button {
  cursor: pointer;
  padding: 0;
  line-height: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  height: 100vh;
  // font-family: 'Roboto', sans-serif;
  // font-family: 'Sofia Sans', sans-serif;

  // line-height: calc(lh / fs);
  font-family: GWENT;
  font-size: 16px;
  font-weight: 800;
  color: var(--white-base-color);
  letter-spacing: 0.15px;

  background-image: radial-gradient(at center, rgb(212, 103, 31), rgb(28, 27, 27) 70%);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}