@import '~node_modules/modern-normalize/modern-normalize.css';

@font-face {
  font-family: GWENT;
  src: url(../fonts/GWENT-font.ttf);
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

button {
  cursor: pointer;
  padding: 0;
  line-height: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  // font-family: 'Roboto', sans-serif;
  // font-family: 'Sofia Sans', sans-serif;

  // line-height: calc(lh / fs);
  font-family: GWENT;
  font-size: 1.375rem;
  font-weight: 800;
  color: var(--white-base-color);

  background-color: var(--black-background-color);
  background-image: url(../images/base/main-gradient.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}