.beasts-witcher {
  padding: 20px 0;
}

.beasts-witcher__list {
  display: flex;
  align-items: center;
  column-gap: 16px;

  padding-bottom: 8px;

  overflow-x: auto;

  scroll-snap-type: x mandatory;

  @media (min-width: 580px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1200px) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

.beasts-witcher__item {
  flex-shrink: 0;
  border-radius: 12px;
  overflow: hidden;

  scroll-snap-align: center;
  scroll-snap-stop: always;
}

.beasts-witcher__img {
  width: 156px;
  height: 144px;

  object-fit: cover;
  object-position: top;

  @media (min-width: 580px) {
    width: 100%;
  }

  @media (min-width: 790px) {
    object-position: center -25px;

    &_top {
      object-position: top;
    }
  }
}

.beasts-witcher__content {
  padding: 16px;
  background-color: var(--dark-gray-color);

  @media (min-width: 790px) {
    padding: 24px;
  }
}

.beasts-witcher__title {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.15px;

  @media (min-width: 790px) {
    font-size: 22px;
    line-height: 127.273%;
  }
}

.beasts-witcher__sub-title {
  font-family: var(--secondary-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 142.857%;
  letter-spacing: 0.25px;

  color: #968E98;

  @media (min-width: 790px) {
    font-size: 16px;
    line-height: 150%;
  }
}

// ---all-section--------------------

.all-beasts-witcher {
  display: none;

  @media (min-width: 790px) and (max-width: 1199px) {
    display: block;
    height: 100px;
    margin-top: 16px;
    overflow: hidden;

    border-radius: 12px;

    background-color: var(--dark-gray-color);

    background-image: linear-gradient(to right,
        rgba(0, 0, 0, 0.469),
        rgba(0, 0, 0, 0.469)), url(../images/beasts-witcher/journal-spriggan.png);

    background-repeat: no-repeat;
    background-position: 50% 12%;

    &__title {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 16px;

      padding: 30px 0;

      font-size: 22px;
      line-height: 127.273%;
    }

    &__icon-arr {
      fill: #E1E3E3;
    }
  }
}

// --/-all-section--------------------

// ------all-card-----------------------

.beasts-witcher__item_all {
  display: none;

  @media (min-width: 1200px) {
    display: block;
  }
}

.beasts-witcher__img_all {
  background-color: var(--dark-gray-color);
  object-position: center -23px;
  filter: brightness(50%);
}