.beasts {
  padding: 20px 0;
}

.list-beasts {
  display: grid;
  gap: 16px 0;

  @media (min-width: 790px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  @media (min-width: 1200px) {
    gap: 16px 24px;
  }
}

.list-beasts__item {
  border-radius: 16px;
  overflow: hidden;
}

.list-beasts__link {
  display: flex;
  align-items: center;
  background-color: var(--dark-gray-color);

  &_dark {
    @media (min-width: 790px) {
      height: 88px;

      background-image: linear-gradient(to right,
          rgba(0, 0, 0, 0.64),
          rgba(0, 0, 0, 0.64)), url(../images/beasts-main/item-tab-4.jpg);

      background-repeat: no-repeat;
      background-position: 70% 25%;
    }

    @media (min-width: 1200px) {
      height: 104px;
    }
  }
}

.list-beasts__logo {
  margin-left: 16px;
  border-radius: 50%;

  &_arr {
    @media (min-width: 790px) {
      display: none;
    }
  }

}

.list-beasts__content {
  padding-left: 16px;

  &_dark {
    @media (min-width: 790px) {
      position: relative;
      margin: 0 auto;

      font-size: 24px;
      font-style: normal;
      font-weight: 800;
      line-height: 133.333%;

      &::after {
        position: absolute;
        top: -3px;
        right: -65px;
        content: '\27F6';
        font-size: 35px;

        transform: rotate(-45deg);
      }
    }
  }
}

.list-beasts__title {
  font-size: 22px;

  line-height: 127.273%;

  &:not(:last-child) {
    margin-bottom: 4px;
  }

  @media (min-width: 1200px) {
    font-size: 24px;
    line-height: 133%;
  }

  &_dark {
    @media (min-width: 790px) {
      display: none;
    }
  }

  &_hidden {
    display: none;

    @media (min-width: 790px) {
      display: block;
    }
  }

}

.list-beasts__sub-title {
  color: #968E98;

  font-family: var(--secondary-font);

  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.15px;
}

.list-beasts__picture {
  margin-left: auto;

  &_dark {
    filter: brightness(0.4);

    @media (min-width: 790px) {
      display: none;
    }
  }
}

.list-beasts__img {
  width: 86px;
  height: 88px;
  object-fit: cover;
  object-position: center;

  @media (min-width: 580px) and (max-width:789px) {
    width: 150px;
    height: 100px;
  }

  @media (min-width: 1200px) {
    width: 272px;
    height: 104px;
    object-position: 50% 37%;
  }
}