.famous {
  padding: 16px;
}

.famous__more {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;

  font-family: var(--secondary-font);
  font-weight: 400;
}

.famous__title {
  font-size: 22px;
  line-height: 133.333%
}

.famous__link {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 150%;
  color: #ADC6FF;

  gap: 0 8px;
  padding: 6px 8px 6px 12px;
  border-radius: 8px;
  border: 1px solid #968E98;
}

// ---slider--------------

.slider__track {
  display: flex;
  gap: 0 8px;
  width: 100%;

  padding: 8px 0px;

  overflow: auto;

  scroll-snap-type: x mandatory;
}

.slide {
  flex: 0 0 136;

  scroll-snap-align: center;
  scroll-snap-stop: always;

  height: 220px;
}

.slide__link {
  display: block;
  height: 100%;
  object-fit: cover;
}

.slider-famous__img {
  height: 100%;
}