.famous {
  padding-top: 16px;
  padding-bottom: 20px;
}

// ---slider--------------

.slider__track {
  display: flex;
  gap: 0 8px;
  width: 100%;

  padding-bottom: 8px;

  overflow-x: auto;

  scroll-snap-type: x mandatory;

  @media (min-width: 580px) {
    column-gap: 16px;
  }

  @media (min-width: 1200px) {
    overflow-x: visible;
  }
}


.slide {
  flex: 0 0 136;

  scroll-snap-align: center;
  scroll-snap-stop: always;

  border-radius: 30px;

  overflow: hidden;

  height: 220px;

  transition: all 300ms linear;

  @media (min-width: 580px) {
    flex-basis: 256px;
    height: 205px;
    border-radius: 15px;
  }

  @media (min-width: 790px) {
    flex: 1 1 auto;
  }

  @media (min-width: 1200px) {
    flex: 1 0 256px;

    &:hover {
      // transform: scale(1.1);
      flex-grow: 3;
    }

  }
}


.slider-famous__img {
  object-fit: cover;
  object-position: center;
  height: 100%;
}