.header__wrapper {
  background-color: var(--black-background-color);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  &__container {
    margin: 0 auto;
    max-width: 1148px;

    display: flex;
    align-items: center;
    padding: 8px;

    background-color: var(--black-background-color);
  }
}

.logo-header {
  display: flex;
  align-items: center;
  column-gap: 6px;

  &__icon {
    padding: 8px;
  }

  &__text {
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.15px;

    &_desc {
      display: none;
    }

    @media (min-width: 834px) {
      &_mob {
        display: none;
      }

      &_desc {
        display: block;
      }
    }
  }
}

.header__search-box {
  margin-left: auto;

  display: flex;
  align-items: center;
  gap: 0 6px;
}

.header__search-icon {
  cursor: pointer;
  padding: 8px;
}

.header-btm-menu {
  background-color: transparent;
  border: none;
  padding: 8px;
}

// NAVIGATION-TAB

.nav-header {
  margin-left: 108px;

  &__list-tab {
    display: flex;
    align-items: center;
    gap: 0 20px;

    font-style: normal;
    line-height: calc(24 / 16);
    letter-spacing: 0.15px;

    cursor: pointer;
  }

  &__item-tab {
    span {
      color: var(--yellow-text-color);
    }

    position: relative;
  }

}

.tab-inner {
  position: absolute;
  top: 25px;
  left: 0;

  background-color: #1D2021;
  padding: 8px 0px;

  width: 200px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.30), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);

  transition: all 250ms linear;
}


.tab-inner__link {
  display: block;
  padding: 8px 16px;
  transition: background-color 250ms linear;

  &:hover {
    background-color: #323536;
  }
}

// nav-hidden

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}