.hero {
  padding: 24px 0;

  @media (min-width: 790px) {
    padding: 32px 0;
  }
}

.hero__title {
  margin-bottom: 24px;
  padding: 0 10px;

  font-size: clamp(1.75rem, 1.295rem + 2.02vw, 2.813rem);
  line-height: 120%;
  color: var(--accent-text-color);

  @media (min-width: 580px) {
    width: auto;
    padding: 0;
  }

  @media (min-width: 790px) {
    margin-bottom: 32px;
  }
}

.hero__body {
  border-radius: 16px;
  overflow: hidden;

  @media (min-width: 580px) {
    display: grid;
    grid-template-columns: 55% 45%;
  }

  @media (min-width: 1200px) {
    grid-template-columns: 40% 60%;
  }
}

.hero__picture {
  @media (min-width: 580px) {
    order: 1;
  }
}

.hero__img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.body-content {
  display: flex;
  flex-direction: column;

  padding: 16px;
  background-color: var(--dark-gray-color);

  &__title {
    font-size: 22px;
    line-height: 127.273%;

    @media (min-width: 790px) {
      font-size: 24px;
      line-height: 133.273%;
    }
  }

  &__sub-title {
    font-family: var(--secondary-font);
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.15px;
    margin-bottom: 24px;

    &>a {
      color: #ADC6FF;
    }
  }

  &__text {
    font-family: var(--secondary-font);
    font-weight: 400;

    line-height: 150%;
    letter-spacing: 0.5px;

    margin-bottom: 32px;

    @media (min-width: 790px) {
      font-size: 18px;
      line-height: 133.333%;
    }
  }

  @media (min-width: 790px) {
    padding: 24px 48px;
  }
}

// ----BUTTON-------------------------

.btn-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 8px;

  text-align: center;


  @media (max-width: 790px) {
    font-size: 14px;
  }

  @media (min-width: 1200px) {
    margin-top: auto;
  }

  &__active {
    background-color: var(--accent-text-color);
    border-radius: 20px;
    color: #3A3000;

    @media (max-width: 340px) {
      width: 130px;
      padding: 15px 13px;
    }

    @media (min-width: 341px) {
      width: 130px;
      padding: 15px 5px;
    }

    @media (min-width: 580px) and (max-width: 789px) {
      padding: 15px 5px;
    }

    @media (min-width: 790px) {
      width: 140px;
    }

    @media (min-width: 1200px) {
      width: 160px;
      padding: 15px 10px;
    }
  }

  &__inactive {
    background-color: transparent;
    border-radius: 20px;
    outline: 1px solid #968E98;

    color: var(--accent-text-color);

    @media (max-width: 340px) {
      width: 130px;
      padding: 15px 13px;
    }

    @media (min-width: 341px) {
      width: 130px;
      padding: 15px 5px;
    }

    @media (min-width: 580px) and (max-width: 789px) {
      padding: 15px 5px;
    }

    @media (min-width: 790px) {
      width: 140px;
    }

    @media (min-width: 1200px) {
      width: 160px;
      padding: 15px 10px;
    }
  }
}