.main {
  min-height: 100vh;
  background-color: #000000;
  background-image: url(../images/background-gradient/Property-Default.png);

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  animation-name: gradient;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes gradient {
  0% {
    background-image: url(../images/background-gradient/Property-Default.png);
  }

  33% {
    background-image: url(../images/background-gradient/Property-Variant2.png);
  }

  66% {
    background-image: url(../images/background-gradient/Property-Variant3.png);
  }

  100% {
    background-image: url(../images/background-gradient/Property-Variant4.png);
  }
}