.main {
  min-height: 100vh;
  background-image: radial-gradient(at center, rgb(123, 65, 27), rgb(24, 23, 23) 70%);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;

  // animation-name: gradient;
  // animation-duration: 7000ms;
  // animation-timing-function: linear;
  // animation-iteration-count: infinite;
  // animation-direction: alternate;
}

// @keyframes gradient {
//   0% {

//   }

//   50% {

//   }

//   100% {

//   }
// }