.mob-menu {
  position: absolute;
  top: 48px;
  right: 0;

  background-color: #191C1D;

  &__wrapp {
    position: relative;
  }

  &__btn-close {
    background-color: transparent;
    border: none;
    display: flex;
    margin-left: auto;
    padding-top: 16px;
    padding-right: 16px;
  }

  &__btn-subscribe {
    display: flex;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    line-height: 150%;
    border-radius: 16px;
    border: none;
    background-color: #E9C400;

    @media (min-width: 1128px) {
      display: none;
    }
  }

  transition: all 300ms linear;
}

.is-hidden-mob-menu {
  transform: translateY(-110%);
}

.mob-menu__container {
  overflow-y: scroll;
  padding: 40px;
}

.mob-menu__nav {
  display: flex;
  flex-direction: column;
  row-gap: 32px;

  @media (min-width: 1128px) {
    align-items: center;
  }
}

.mob-menu__link {
  display: flex;
  align-items: center;
  gap: 0 8px;

  &-text {
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    line-height: calc(28 / 22);
    color: #968E98;

    @media (min-width: 1128px) {
      display: none;
    }

    &_active {
      color: var(--accent-text-color);
    }
  }
}

.mob-menu__icon {
  width: 24px;
  height: 24px;
  fill: #968E98;

  &_active {
    fill: var(--accent-text-color);
  }

  &-btn-close {
    width: 32px;
    height: 32px;
  }
}

// ----mob-menu-socials-------------------

.socials-menu {
  margin: 40px 0;

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px 24px;

    @media (min-width: 1128px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px 0;
    }
  }
}

.socials-menu__link {
  background-color: #af3333;
  padding: 16px;
  display: flex;
  border-radius: 16px;

  &_patreon {
    background-color: #323536;
  }

  &_telegram {
    background-color: #004395;
  }

  &_TikTok {
    background-color: #544600;
  }

  &_Twitter {
    background-color: #005311;
  }
}

.socials-menu__icon {
  width: 24px;
  height: 24px;
}