.glossary-section__title {
  color: var(--accent-text-color);
  margin-bottom: 20px;
  font-size: 28px;
  line-height: 128%;

  @media (min-width: 790px) {
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 122%;
  }

  @media (min-width: 1200px) {
    margin-bottom: 22px;
    font-size: 45px;
    line-height: 115%;
  }
}

.glossary-search__title {
  margin-bottom: 20px;
}

// ----pagination-box------------

.pagination-box {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 460px
}

.pagination__list {
  @extend .pagination-box;
  margin: 0 auto;
  column-gap: 16px;
}

.pagination__item {
  border: 1px solid var(--white-base-color);
  border-radius: 8px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: 790px) {
    width: 56px;
  }
}

.pagination__link {
  padding: 6px 12px 6px 12px;

  &_book {
    padding: 0;
  }
}

.pagination__btn {
  padding: 5px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--white-base-color);
}

.pagination__svg-arrow-prev,
.pagination__svg-arrow-next {
  width: 30px;
  height: 30px;
}

.pagination__svg-book {
  display: block;
  width: 34px;
  height: 30px;
}

.glossary-item {
  border-radius: 12px;
  flex-direction: column;
  display: flex;
  overflow: hidden;

  @media (min-width: 790px) {
    background-color: var(--dark-gray-color);
    grid-template-columns: 55% 45%;
    display: grid;
    position: relative;
  }
}

.bestiary-list__item:not(:last-child) {
  margin-bottom: 40px;
}

// ----------------------
.bestiary-item__sup-header {
  margin-bottom: 20px;
  color: rgb(225, 227, 227);
}

.sup-header__character {
  font-size: 24px;
  font-weight: 800;
  line-height: 32px;
}

.sup-header__text {
  margin-top: 16px;

  font-family: var(--secondary-font);
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
}

// ----used-sources----
.used-sources {
  padding-bottom: 104px;
  color: rgb(225, 227, 227);

  &__title {
    font-size: 24px;
    line-height: calc(32px / 24px);

    margin-bottom: 16px;
  }

  &__sub-title {
    font-family: var(--secondary-font);
    font-size: 22px;
    font-weight: 400;
    line-height: calc(40px / 22px);
  }
}

.used-sources__list {
  font-family: var(--secondary-font);
  font-size: 22px;
  font-weight: 400;
  line-height: calc(40px / 22px);
}

.used-sources__item a>br {
  @media (min-width: 580px) {
    display: none;
  }
}

.used-sources__item {
  &:nth-child(1) {
    text-decoration: underline;
    cursor: pointer;
  }

  &:nth-child(2) {
    text-decoration: underline;
    cursor: pointer;
  }
}