:root {
  // --primary-font: 'Roboto', sans-serif;
  // --secondary-font: 'Raleway', sans-serif;

  --white-base-color: #C4C7C7;
  // --third-background-color: #f5f4fa;
  --black-background-color: #101415;
  // --black-text-color: #212121;
  --accent-text-color: #E9C400;
  // --white-alfa-color: rgba(255, 255, 255, 0.6);
  // --blue-accent-color: #2196F3;
}