<section class="bestiary-section">
  <div class="bestiary-section__container container">

    <h1 class="glossary-section__title">Глосарій</h1>

    <div>
      <h2 class="glossary-search__title">Пошук</h2>

      <form class="backdrop-search__form form-search">
        <div class="form-search__wrapper">

          <button class="form-search__btn-search" type="button">
            <svg class="form-search__icon-search" width="24" height="24">
              <use href="./images/sprite.svg#icon-search-Icon"></use>
            </svg>
          </button>

          <input class="form-search__input" type="text" placeholder="Знайти інфо...">

          <div class="form-search__icon-box">
            <button class="form-search__btn-cross" type="button">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path
                  d="M16.2427 17.6568C16.6332 18.0474 17.2664 18.0474 17.6569 17.6568C18.0474 17.2663 18.0474 16.6331 17.6569 16.2426L13.4143 12L17.6569 7.75736C18.0474 7.36684 18.0474 6.73367 17.6569 6.34315C17.2664 5.95262 16.6332 5.95262 16.2427 6.34315L12.0001 10.5858L7.7574 6.34313C7.36688 5.9526 6.73371 5.9526 6.34319 6.34313C5.95266 6.73365 5.95266 7.36681 6.34319 7.75734L10.5858 12L6.34319 16.2426C5.95266 16.6332 5.95266 17.2663 6.34319 17.6569C6.73371 18.0474 7.36688 18.0474 7.7574 17.6569L12.0001 13.4142L16.2427 17.6568Z"
                  fill="#C4C7C7" />
              </svg>
            </button>

            <button class="form-search__btn-mic" type="button">
              <svg class="form-search__icon-mic" width="24" height="24">
                <use href="./images/sprite.svg#mic-form-Icon"></use>
              </svg>
            </button>
          </div>
        </div>
      </form>
    </div>

    <div class="pagination-box">
      <button class="pagination__btn pagination__btn_prev" type="button">
        <svg class="pagination__svg-arrow-prev">
          <use href="./images/sprite.svg#icon-arrow-prev"></use>
        </svg>
      </button>
      <ul class="pagination__list">
        <li class="pagination__item">
          <a class="pagination__link" href="#borovik">Б</a>
        </li>
        <li class="pagination__item">
          <a class="pagination__link" href="#griffin">Г</a>
        </li>
        <li class="pagination__item">
          <a class="pagination__link" href="#domovik">Д</a>
        </li>
        <li class="pagination__item">
          <a class="pagination__link pagination__link_book" href="#sources">
            <svg class="pagination__svg-book">
              <use href="./images/sprite.svg#icon-book"></use>
            </svg>
          </a>
        </li>
      </ul>
      <button class="pagination__btn pagination__btn_next" type="button">
        <svg class="pagination__svg-arrow-next">
          <use href="./images/sprite.svg#icon-arrow-next"></use>
        </svg>
      </button>
    </div>


    <!-- card list -->
    <ul class="bestiary-section__list">
      <li id="borovik" class="bestiary-list__item">

        <div class="bestiary-item__sup-header sup-header">
          <b class="sup-header__character">Б</b>
          <p class="sup-header__text">Боровик</p>
        </div>

        <div class="bestiary-item glossary-item">
          <div class="bestiary-item__heder">
            <!-- <svg width="40" height="40" class="bestiary-item__logo">
              <use href="./images/sprite.svg#icon-logo-ua"></use>
            </svg> -->

            <div class="bestiary-item__content">
              <h3 class="bestiary-item__title">Боровик</h3>
              <h4 class="bestiary-item__sub-title">Міфологія</h4>
            </div>

            <a href="#" class="bestiary-item__svg-more">
              <svg width="18" height="18" class="bestiary-body__logo">
                <use href="./images/sprite.svg#more-vertical"></use>
              </svg>
            </a>
          </div>

          <picture class="bestiary-item__picture">
            <a href="./page-borovik.html">
              <img class="glossary-item__img" src="./images/beasts-main/item-mob-1.jpg" alt="Боровик" loading="lazy">
            </a>
          </picture>

          <div class="bestiary-item__body bestiary-body">

            <!-- <a class="bestiary-body__link-myth" href="#">
              <svg width="18" height="18" class="bestiary-body__logo">
                <use href="./images/sprite.svg#icon-logo-ua"></use>
              </svg>
              Міф
            </a> -->

            <p class="bestiary-body__text glossary-body__text">
              Читати більше про Боровика ...
            </p>

            <div class="body-content__btn-box btn-box">
              <a href="./page-borovik.html" class="btn-box__inactive">В укр. міфології</a>
              <a href="./page-borovik.html" class="btn-box__active">У грі Відьмак</a>
            </div>

          </div>
        </div>

      </li>

      <li id="griffin" class="bestiary-list__item">
        <div class="bestiary-item__sup-header sup-header">
          <b class="sup-header__character">Г</b>
          <p class="sup-header__text">Грифон</p>
        </div>
        <div class="bestiary-item glossary-item">
          <div class="bestiary-item__heder">
            <!-- <svg width="40" height="40" class="bestiary-item__logo">
              <use href="./images/sprite.svg#icon-logo-ua"></use>
            </svg> -->

            <div class="bestiary-item__content">
              <h3 class="bestiary-item__title">Грифон (Гриф)</h3>
              <h4 class="bestiary-item__sub-title">Міфологія</h4>
            </div>

            <a href="#" class="bestiary-item__svg-more">
              <svg width="18" height="18" class="bestiary-body__logo">
                <use href="./images/sprite.svg#more-vertical"></use>
              </svg>
            </a>
          </div>

          <picture class="bestiary-item__picture">
            <a href="./page-griffin.html">
              <img class="glossary-item__img" src="./images/beasts-main/item-mob-2.jpg" alt="Боровик" loading="lazy">
            </a>
          </picture>

          <div class="bestiary-item__body bestiary-body">

            <!-- <a class="bestiary-body__link-myth" href="#">
              <svg width="18" height="18" class="bestiary-body__logo">
                <use href="./images/sprite.svg#icon-logo-ua"></use>
              </svg>
              Міф
            </a> -->

            <p class="bestiary-body__text glossary-body__text">
              Читати більше про Грифона (Грифа) ...
            </p>

            <div class="body-content__btn-box btn-box">
              <a href="./page-griffin.html" class="btn-box__inactive">В укр. міфології</a>
              <a href="./page-griffin.html" class="btn-box__active">У грі Відьмак</a>
            </div>

          </div>
        </div>


      </li>

      <li id="domovik" class="bestiary-list__item">
        <div class="bestiary-item__sup-header sup-header">
          <b class="sup-header__character">Д</b>
          <p class="sup-header__text">Домовик</p>
        </div>
        <div class="bestiary-item glossary-item">
          <div class="bestiary-item__heder">
            <!-- <svg width="40" height="40" class="bestiary-item__logo">
              <use href="./images/sprite.svg#icon-logo-ua"></use>
            </svg> -->

            <div class="bestiary-item__content">
              <h3 class="bestiary-item__title">Домовик</h3>
              <h4 class="bestiary-item__sub-title">Міфологія</h4>
            </div>

            <a href="#" class="bestiary-item__svg-more">
              <svg width="18" height="18" class="bestiary-body__logo">
                <use href="./images/sprite.svg#more-vertical"></use>
              </svg>
            </a>
          </div>

          <picture class="bestiary-item__picture">
            <a href="./page-domovik.html">
              <img class="glossary-item__img" src="./images/beasts-main/item-mob-3.jpg" alt="Боровик" loading="lazy">
            </a>
          </picture>

          <div class="bestiary-item__body bestiary-body">

            <!-- <a class="bestiary-body__link-myth" href="#">
              <svg width="18" height="18" class="bestiary-body__logo">
                <use href="./images/sprite.svg#icon-logo-ua"></use>
              </svg>
              Міф
            </a> -->

            <p class="bestiary-body__text glossary-body__text">
              Читати більше про Домовика (Грігга)...
            </p>

            <div class="body-content__btn-box btn-box">
              <a href="./page-domovik.html" class="btn-box__inactive">В укр. міфології</a>
              <a href="./page-domovik.html" class="btn-box__active">У грі Відьмак</a>
            </div>

          </div>
        </div>
      </li>
    </ul>
    <!--/ card list -->

    <div id="sources" class="used-sources">
      <h4 class="used-sources__title">-= Використані джерела =-</h4>
      <h5 class="used-sources__sub-title">Список використаних джерел:</h5>

      <ol class="used-sources__list">
        <li class="used-sources__item">
          <a href="https://www.youtube.com/@gamewizua" target="_blank">
            1. https://www.youtube.com/<br>@gamewizua
          </a>
        </li>
        <li class="used-sources__item">
          <a href="https://www.fandom.com/" target="_blank">
            2. https://www.fandom.com/
          </a>
        </li>
        <li class="used-sources__item">
          3. Літературно-художне видання «Світ Відьмака», 2023 р.
        </li>
        <li class="used-sources__item">
          4. ГВИНТ: Відьмак. Карткова гра
        </li>
        <li class="used-sources__item">
          5. Книга “Міфи та легенди давньої України”, автор Войтович Валерій
          Миколайович, 2005 р.
        </li>
        <li class="used-sources__item">
          6. https://playgroundai.com/
        </li>
      </ol>
    </div>

  </div>
</section>