<div class="backdrop-borovik-gallery js-backdrop-witcher-gallery backdrop-borovik-gallery--hidden">

  <div class="nav-btn-container container">
    <div class="container__inner">
      <button class="nav-btn-container__btn nav-btn-container__btn_arr js-backdrop-close-witch">
        <svg class="nav-btn-container__icon">
          <use href="./images/sprite.svg#icon-arrow-btn-left"></use>
        </svg>
      </button>

      <div class="nav-btn-container__btn-box">

        <a href="#" class="nav-btn-container__btn">
          <svg class="nav-btn-container__icon nav-btn-container__icon_small">
            <use href="./images/sprite.svg#icon-btn-plus"></use>
          </svg>
        </a>

        <a href="#" class="nav-btn-container__btn">
          <svg class="nav-btn-container__icon">
            <use href="./images/sprite.svg#icon-btn-minus"></use>
          </svg>
        </a>

        <a href="#" class="nav-btn-container__btn">
          <svg class="nav-btn-container__icon nav-btn-container__icon_small">
            <use href="./images/sprite.svg#icon-container"></use>
          </svg>
        </a>

        <a href="#" class="nav-btn-container__btn">
          <svg class="nav-btn-container__icon">
            <use href="./images/sprite.svg#icon-toggleable-dark"></use>
          </svg>
        </a>

      </div>
    </div>
  </div>

  <div class="container backdrop-borovik__container">

    <div class="borovik-modal js-borovik-modal">

      <picture>
        <img class="borovik-modal__img js-witcher-modal-img" src="#" alt="404">
      </picture>

      <video class="js-witcher-modal-video" autoplay loop muted hidden width="100%" height="100%"
        src="./video/page-characters/Geralt_PC.mp4">
      </video>

    </div>

    <ul class="backdrop-borovik-gallery_small small-gallery js-small-gallery-w">
      <li class="small-gallery__item" data-id="1">
        <img class="small-gallery__img" src="./images/characters/Geralt.jpg" alt="Geralt-image-1">
      </li>
      <li class="small-gallery__item" data-id="2">
        <img class="small-gallery__img" src="./images/characters/Witcher/Geralt-item-2.png" alt="Geralt-image-2">
      </li>
      <li class="small-gallery__item" data-id="3">
        <img class="small-gallery__img small-gallery__img_left" src="./images/characters/Witcher/Geralt-item-3.png"
          alt="Geralt-image-3">
      </li>
      <li class="small-gallery__item" data-id="4">
        <img class="small-gallery__img" src="./images/characters/Witcher/Geralt-item-4.jpg" alt="Geralt-image-4">
      </li>
    </ul>

  </div>

  <ul class="wolf-head-img__box-urk js-wolf-head-img-box-urk">
    <li class="wolf-head-img__wrapper">
      <img src="./images/page-borovik/wolf-head-witcher/item-img-1.png" alt="wolf-head-uk" hidden>
    </li>
  </ul>

</div>