<div class="backdrop-search">
  <div class="backdrop-search__container">

    <form class="backdrop-search__form form-search">
      <div class="form-search__wrapper">

        <button class="form-search__btn-search" type="button">
          <svg class="form-search__icon-search" width="20" height="20">
            <use href="./images/sprite.svg#icon-search-Icon"></use>
          </svg>
        </button>

        <input class="form-search__input" type="search" placeholder="Знайти інфо...">

        <div class="form-search__icon-box">
          <button class="form-search__btn-cross" type="button">
            <svg class="form-search__icon-cross" width="35" height="35">
              <use href="./images/sprite.svg#cross-form-icon"></use>
            </svg>
          </button>

          <button class="form-search__btn-mic" type="button">
            <svg class="form-search__icon-mic" width="20" height="20">
              <use href="./images/sprite.svg#mic-form-Icon"></use>
            </svg>
          </button>
        </div>

      </div>
    </form>

    <div class="backdrop-search__history-box history-box">
      <div class="history-box__history">
        <p class="history-box__title">Історія</p>

        <button class="history-box__btn-close" type="button">
          <svg class="form-search__icon-close" width="20" height="20">
            <use href="./images/sprite.svg#icon-btn-close"></use>
          </svg>
        </button>
      </div>
    </div>

  </div>
</div>