<div class="backdrop-search js-backdrop-search backdrop-search--hidden">
  <div class="backdrop-search__container">

    <form class="backdrop-search__form form-search">
      <div class="form-search__wrapper">

        <button class="form-search__btn-search js-btn-search" type="button">
          <svg class="form-search__icon-search" width="24" height="24">
            <use href="./images/sprite.svg#icon-search-Icon"></use>
          </svg>
        </button>

        <input class="form-search__input js-search-input" type="text" placeholder="Знайти інфо...">

        <div class="form-search__icon-box">
          <button class="form-search__btn-cross" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path
                d="M16.2427 17.6568C16.6332 18.0474 17.2664 18.0474 17.6569 17.6568C18.0474 17.2663 18.0474 16.6331 17.6569 16.2426L13.4143 12L17.6569 7.75736C18.0474 7.36684 18.0474 6.73367 17.6569 6.34315C17.2664 5.95262 16.6332 5.95262 16.2427 6.34315L12.0001 10.5858L7.7574 6.34313C7.36688 5.9526 6.73371 5.9526 6.34319 6.34313C5.95266 6.73365 5.95266 7.36681 6.34319 7.75734L10.5858 12L6.34319 16.2426C5.95266 16.6332 5.95266 17.2663 6.34319 17.6569C6.73371 18.0474 7.36688 18.0474 7.7574 17.6569L12.0001 13.4142L16.2427 17.6568Z"
                fill="#C4C7C7" />
            </svg>
          </button>

          <button class="form-search__btn-mic" type="button">
            <svg class="form-search__icon-mic" width="24" height="24">
              <use href="./images/sprite.svg#mic-form-Icon"></use>
            </svg>
          </button>
        </div>

      </div>
    </form>

    <div class="backdrop-search__history-box history-box">
      <div class="history-box__history">
        <p class="history-box__title">Історія</p>

        <button class="history-box__btn-close js-history-close" type="button">
          <svg class="form-search__icon-close" width="20" height="20">
            <use href="./images/sprite.svg#icon-btn-close"></use>
          </svg>
        </button>
      </div>
    </div>

    <div class="container search__container js-search-container">
      <ul class="search-list__content js-search-list"></ul>
    </div>

  </div>
</div>