<section class="beasts-witcher">
  <div class="beasts-witcher__container container">

    <div class="all">
      <p class="all__title">Бестії світу Відьмак</p>
      <a class="all__link" href="#">
        Всі
        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M12.046 4.16562C11.7531 3.86146 11.2782 3.86146 10.9853 4.16562C10.6924 4.46978 10.6924 4.96292 10.9853 5.26707L13.9029 8.29688L2.89063 8.29688C2.5023 8.29688 2.1875 8.61167 2.1875 9C2.1875 9.38833 2.5023 9.70312 2.89062 9.70312L13.9029 9.70313L10.9853 12.7329C10.6924 13.0371 10.6924 13.5302 10.9853 13.8344C11.2782 14.1385 11.7531 14.1385 12.046 13.8344L16.171 9.55073C16.4638 9.24657 16.4638 8.75343 16.171 8.44927L12.046 4.16562Z"
            fill="#ADC6FF" />
        </svg>
      </a>
    </div>

    <div class="beasts-witcher__body">

      <ul class="beasts-witcher__list">
        <li class="beasts-witcher__item">
          <a href="#" class="beasts-witcher__link">
            <picture class="beasts-witcher__picture">
              <!-- <source srcset="#" media="(min-width: 1200px)">
              <source srcset="#" media="(min-width: 580px)"> -->
              <img class="beasts-witcher__img beasts-witcher__img_top" src="./images/beasts-witcher/spriggan.jpg"
                alt="боровик">
            </picture>
            <div class="beasts-witcher__content">
              <h3 class="beasts-witcher__title">Боровик</h3>
              <p class="beasts-witcher__sub-title">Релікти</p>
            </div>
          </a>
        </li>

        <li class="beasts-witcher__item">
          <a href="#" class="beasts-witcher__link">
            <picture class="beasts-witcher__picture">
              <!-- <source srcset="#" media="(min-width: 1200px)">
              <source srcset="#" media="(min-width: 580px)"> -->
              <img class="beasts-witcher__img" src="./images/beasts-witcher/grifon.jpg" alt="Грифон">
            </picture>
            <div class="beasts-witcher__content">
              <h3 class="beasts-witcher__title">Грифон</h3>
              <p class="beasts-witcher__sub-title">Гібриди</p>
            </div>
          </a>
        </li>
        <li class="beasts-witcher__item">
          <a href="#" class="beasts-witcher__link">
            <picture class="beasts-witcher__picture">
              <!-- <source srcset="#" media="(min-width: 1200px)">
              <source srcset="#" media="(min-width: 580px)"> -->
              <img class="beasts-witcher__img" src="./images/beasts-witcher/grigg.jpg" alt="Домовик">
            </picture>
            <div class="beasts-witcher__content">
              <h3 class="beasts-witcher__title">Домовик</h3>
              <p class="beasts-witcher__sub-title">Людиноподібні</p>
            </div>
          </a>
        </li>

        <li class="beasts-witcher__item beasts-witcher__item_all">
          <a href="#" class="beasts-witcher__link">
            <picture class="beasts-witcher__picture beasts-witcher__picture_all">
              <!-- <source srcset="#" media="(min-width: 1200px)">
              <source srcset="#" media="(min-width: 580px)"> -->
              <img class="beasts-witcher__img beasts-witcher__img_all"
                src="./images/beasts-witcher/journal-spriggan.png" alt="Всі-Бестії">
            </picture>
            <div class="beasts-witcher__content beasts-witcher-content">
              <div class="beasts-witcher-content__inner">
                <h3 class="beasts-witcher__title">Всі Бестії</h3>
                <p class="beasts-witcher__sub-title">Відьмак</p>
              </div>

              <svg width="40" height="40" class="all-beasts-witcher__icon-arr">
                <use href="./images/sprite.svg#icon-arrow-up-icon"></use>
              </svg>

            </div>
          </a>
        </li>
      </ul>

      <div class="beasts-witcher__all all-beasts-witcher">
        <p class="all-beasts-witcher__title">
          Всі Відьмак бестії

          <svg width="40" height="40" class="all-beasts-witcher__icon-arr">
            <use href="./images/sprite.svg#icon-arrow-up-icon"></use>
          </svg>

        </p>
      </div>

    </div>

  </div>
</section>