<section class="beasts">
  <div class="beasts__container container">

    <div class="all">
      <p class="all__title all__title_hidden">Бестії укр. міфології</p>
      <p class="all__title all__title_more">Бестії Української міфології</p>
      <a class="all__link" href="#">
        Всі
        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M12.046 4.16562C11.7531 3.86146 11.2782 3.86146 10.9853 4.16562C10.6924 4.46978 10.6924 4.96292 10.9853 5.26707L13.9029 8.29688L2.89063 8.29688C2.5023 8.29688 2.1875 8.61167 2.1875 9C2.1875 9.38833 2.5023 9.70312 2.89062 9.70312L13.9029 9.70313L10.9853 12.7329C10.6924 13.0371 10.6924 13.5302 10.9853 13.8344C11.2782 14.1385 11.7531 14.1385 12.046 13.8344L16.171 9.55073C16.4638 9.24657 16.4638 8.75343 16.171 8.44927L12.046 4.16562Z"
            fill="#ADC6FF" />
        </svg>
      </a>
    </div>

    <div class="beasts__body">
      <ul class="beasts__list list-beasts">
        <li class="list-beasts__item">
          <a class="list-beasts__link" href="#">

            <svg width="40" height="40" class="list-beasts__logo">
              <use href="./images/sprite.svg#icon-logo-ua"></use>
            </svg>

            <div class="list-beasts__content">
              <h3 class="list-beasts__title">Боровик</h3>
              <h4 class="list-beasts__sub-title">Українська міфологія</h4>
            </div>

            <picture class="list-beasts__picture">
              <!-- <source srcset="#" media="(min-width: 1200px)">
              <source srcset="./images/famous-main/Item-tab-1.png" media="(min-width: 580px)"> -->
              <img class="list-beasts__img" src="./images/beasts-main/item-mob-1.jpg" alt="боровик">
            </picture>

          </a>
        </li>

        <li class="list-beasts__item">
          <a class="list-beasts__link" href="#">

            <svg width="40" height="40" class="list-beasts__logo">
              <use href="./images/sprite.svg#icon-logo-ua"></use>
            </svg>

            <div class="list-beasts__content">
              <h3 class="list-beasts__title">Грифон (Гриф)</h3>
              <h4 class="list-beasts__sub-title">Українська міфологія</h4>
            </div>

            <picture class="list-beasts__picture">
              <!-- <source srcset="#" media="(min-width: 1200px)">
              <source srcset="./images/famous-main/Item-tab-1.png" media="(min-width: 580px)"> -->
              <img class="list-beasts__img" src="./images/beasts-main/item-mob-2.jpg" alt="боровик">
            </picture>

          </a>
        </li>
        <li class="list-beasts__item">
          <a class="list-beasts__link" href="#">

            <svg width="40" height="40" class="list-beasts__logo">
              <use href="./images/sprite.svg#icon-logo-ua"></use>
            </svg>

            <div class="list-beasts__content">
              <h3 class="list-beasts__title">Домовик</h3>
              <h4 class="list-beasts__sub-title">Українська міфологія</h4>
            </div>

            <picture class="list-beasts__picture">
              <!-- <source srcset="#" media="(min-width: 1200px)">
              <source srcset="./images/famous-main/Item-tab-1.png" media="(min-width: 580px)"> -->
              <img class="list-beasts__img" src="./images/beasts-main/item-mob-3.jpg" alt="боровик">
            </picture>

          </a>
        </li>
        <li class="list-beasts__item list-beasts__item_dark">
          <a class="list-beasts__link list-beasts__link_dark" href="#">

            <div class="list-beasts__content 
            list-beasts__content_dark">

              <svg width="40" height="40" class="list-beasts__logo list-beasts__logo_arr">
                <use href="./images/sprite.svg#icon-arrow-up"></use>
              </svg>

              <p class="list-beasts__title list-beasts__title_dark">Всі укр. бестії</p>
              <p class="list-beasts__title list-beasts__title_hidden">Усі українські бестії</p>

            </div>

            <picture class="list-beasts__picture list-beasts__picture_dark">
              <!-- <source srcset="#" media="(min-width: 1200px)"> -->
              <source srcset="./images/beasts-main/item-tab-4.jpg" media="(min-width: 580px)">
              <img class="list-beasts__img" src="./images/beasts-main/item-mob-4.jpg" alt="всі">
            </picture>

          </a>
        </li>
      </ul>
    </div>

  </div>
</section>