<section class="famous">
  <div class="famous__container container">

    <div class="all">
      <p class="all__title">Відомі</p>
      <a class="all__link" href="./bestiary.html">
        Всі
        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M12.046 4.16562C11.7531 3.86146 11.2782 3.86146 10.9853 4.16562C10.6924 4.46978 10.6924 4.96292 10.9853 5.26707L13.9029 8.29688L2.89063 8.29688C2.5023 8.29688 2.1875 8.61167 2.1875 9C2.1875 9.38833 2.5023 9.70312 2.89062 9.70312L13.9029 9.70313L10.9853 12.7329C10.6924 13.0371 10.6924 13.5302 10.9853 13.8344C11.2782 14.1385 11.7531 14.1385 12.046 13.8344L16.171 9.55073C16.4638 9.24657 16.4638 8.75343 16.171 8.44927L12.046 4.16562Z"
            fill="#ADC6FF" />
        </svg>
      </a>
    </div>

    <div class="famous__slider">

      <ul class="slider__track">
        <li class="slide">
          <a class="slide__link" href="./page-borovik.html">
            <picture class="slide__picture">
              <!-- <source srcset="#" media="(min-width: 1200px)"> -->
              <!-- <source srcset="./images/famous-main/Item-tab-1.png" media="(min-width: 580px)"> -->
              <img class="slider-famous__img" src="./images/beasts-witcher/spriggan.jpg" alt="borovik">
            </picture>
          </a>
        </li>
        <li class="slide">
          <a class="slide__link" href="#">
            <picture class="slide__picture">
              <!-- <source srcset="#" media="(min-width: 1200px)"> -->
              <!-- <source srcset="./images/beasts-witcher/grifon.jpg" media="(min-width: 580px)"> -->
              <img class="slider-famous__img" src="./images/beasts-witcher/grifon.jpg" alt="£">
            </picture>
          </a>
        </li>
        <li class="slide">
          <a class="slide__link" href="#">
            <picture class="slide__picture">
              <!-- <source srcset="#" media="(min-width: 1200px)"> -->
              <!-- <source srcset="./images/beasts-witcher/grigg.jpg" media="(min-width: 580px)"> -->
              <img class="slider-famous__img" src="./images/beasts-witcher/grigg.jpg" alt="£">
            </picture>
          </a>
        </li>

      </ul>

    </div>

  </div>
</section>