<section class="famous-witcher">

  <div class="famous-witcher__container container">

    <div class="all">
      <p class="all__title">Персонажі</p>
      <a class="all__link" href="#">
        Всі
        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M12.046 4.16562C11.7531 3.86146 11.2782 3.86146 10.9853 4.16562C10.6924 4.46978 10.6924 4.96292 10.9853 5.26707L13.9029 8.29688L2.89063 8.29688C2.5023 8.29688 2.1875 8.61167 2.1875 9C2.1875 9.38833 2.5023 9.70312 2.89062 9.70312L13.9029 9.70313L10.9853 12.7329C10.6924 13.0371 10.6924 13.5302 10.9853 13.8344C11.2782 14.1385 11.7531 14.1385 12.046 13.8344L16.171 9.55073C16.4638 9.24657 16.4638 8.75343 16.171 8.44927L12.046 4.16562Z"
            fill="#ADC6FF" />
        </svg>
      </a>
    </div>

    <div class="famous-witcher__body">
      <ul class="famous-witcher__list">

        <li class="famous-witcher__item">
          <a href="./page-characters.html" class="famous-witcher__link js-famous-witcher" target="_blank">
            <picture class="famous-witcher__picture">
              <!-- <source srcset="#" media="(min-width: 1200px)">
              <source srcset="#" media="(min-width: 580px)"> -->
              <img class="famous-witcher__img beasts-witcher__img_top"
                src="./images/famous-witcher/geralt-main-page.jpg" alt="Відьмак">
            </picture>
            <div class="famous-witcher__content">
              <h3 class="famous-witcher__title">Геральт</h3>
              <p class="famous-witcher__sub-title">Відьмак</p>
            </div>
          </a>
        </li>

        <li class="famous-witcher__item">
          <a href="./page-characters-witch.html" class="famous-witcher__link" target="_blank">
            <picture class="famous-witcher__picture">
              <!-- <source srcset="#" media="(min-width: 1200px)">
              <source srcset="#" media="(min-width: 580px)"> -->
              <img class="famous-witcher__img beasts-witcher__img_top"
                src="./images/famous-witcher/yennefer-main-page.jpg" alt="Йенніфер">
            </picture>
            <div class="famous-witcher__content">
              <h3 class="famous-witcher__title">Йенніфер</h3>
              <p class="famous-witcher__sub-title">Чародійка</p>
            </div>
          </a>
        </li>

        <li class="famous-witcher__item famous-witcher__item_all">
          <a href="./characters.html" class="famous-witcherr__link" target="_blank">
            <picture class="famous-witcher__picture famous-witcher__picture_all">
              <!-- <source srcset="#" media="(min-width: 1200px)">
              <source srcset="#" media="(min-width: 580px)"> -->
              <img class="famous-witcher__img famous-witcher__img_all" src="./images/famous-witcher/manuel-castanon.jpg"
                alt="Всі-Бестії">
            </picture>

            <div class="famous-witcher__content famous-witcher-content">
              <div class="famous-witcher-content__inner">
                <h3 class="famous-witcher__title">Всі персонажі</h3>
                <p class="famous-witcher__sub-title">Відьмак</p>
              </div>

              <svg width="40" height="40" class="all-famous-witcher__icon-arr">
                <use href="./images/sprite.svg#icon-arrow-up"></use>
              </svg>

            </div>
          </a>
        </li>

      </ul>

      <div class="famous-witcher__all all-famous-witcher">
        <a href="./characters.html" target="_blank">
          <p class="all-famous-witcher__title">
            Всі Відьмак персонажі

            <svg width="40" height="40" class="all-famous-witcher__icon-arr">
              <use href="./images/sprite.svg#icon-arrow-up"></use>
            </svg>

          </p>
        </a>
      </div>

    </div>

  </div>

</section>