<section class="famous">
  <div class="famous__container container">

    <div class="famous__more">
      <p class="famous__title">Відомі</p>
      <a href="#">Всі</a>
    </div>

    <div class="famous__gallery">
      <div class="slider-famous">
        <div class="slider-famous__item">
          <a class="slider-famous__link" href="#">
            <img class="slider-famous__img" src="./images/famous-main/Item-1.png" alt="">
          </a>
        </div>
        <div class="slider-famous__item">
          <a class="slider-famous__link" href="#">
            <img class="slider-famous__img" src="./images/famous-main/Item-1.png" alt="">
          </a>
        </div>
        <div class="slider-famous__item">
          <a class="slider-famous__link" href="#">
            <img class="slider-famous__img" src="./images/famous-main/Item-1.png" alt="">
          </a>
        </div>
      </div>
    </div>

  </div>
</section>