<footer class="footer">
  <div class="footer__container container">

    <div class="footer__lodo-box lodo-box">
      <img width="32" class="lodo-box__img" src="./images/base/logo-footer-subscribe.png" alt="lodo-footer">

      <p class="lodo-box__text">
        Створено із натхненням.<br>
        Канал GameWiz UA
      </p>

    </div>

    <div class="footer__nav-box">

    </div>

    <div class="footer__socials">

    </div>

    <div class="footer__subscribe">

    </div>

  </div>
</footer>