<div class="header__wrapper js-header-wrapper">
  <header class="header">
    <div class="container header__container js-header-container">
      <a href="#" class="header__logo logo-header">
        <img class="logo-header__img" src="./images/base/leading-icon.png" alt="">
        <span class="logo-header__text">Укр. міфологія у іграх</span>
      </a>

      <div class="header__search-box">
        <svg class="header__search-icon" width="40" height="40">
          <use href="./images/sprite.svg#icon-search-Icon"></use>
        </svg>
        <button class="header-btm-menu">
          <svg width="24" height="24">
            <use href="./images/sprite.svg#icon-menu-Icon"></use>
          </svg>
        </button>
      </div>
    </div>
  </header>
</div>