<div class="header__wrapper js-header-wrapper">
  <header class="header">
    <div class="header__container js-header-container">
      <!-- logo -->
      <a href="#" class="header__logo logo-header">
        <svg class="logo-header__icon" width="40" height="40">
          <use href="./images/sprite.svg#icon-logo-hed"></use>
        </svg>
        <span class="logo-header__text logo-header__text_mob">Укр. міфологія у іграх</span>
        <span class="logo-header__text logo-header__text_desc">Українська міфологія у іграх Відьмак</span>
      </a>
      <!--/ logo -->

      <!-- navigation -->
      <nav class="header__nav nav-header">

        <ul class="nav-header__list">
          <li class="nav-header__item"><a class="nav-header__link" href="#">Бестіарій</a></li>
          <li class="nav-header__item"><a class="nav-header__link" href="#">Персонажі</a></li>
          <li class="nav-header__item"><a class="nav-header__link" href="#">Глосарій</a></li>
          <li class="nav-header__item nav-header__item_header__link_subscribe"><a
              class="nav-header__link nav-header__link_subscribe" href="#">Підписатись
              <svg width="18" height="18">
                <use href="./images/sprite.svg#youtube-white-icon"></use>
              </svg>
            </a>
          </li>
        </ul>

        <ul class="nav-header__list-tab js-tab-menu dropdown">

          <li class="nav-header__item-tab">
            <span class="dropdown">Головна</span>

            <ul class="nav-header__list-tab-inner tab-inner js-tab-list is-hidden">
              <li class="tab-inner__item"><a class="tab-inner__link" href="#">Бестіарій</a></li>
              <li class="tab-inner__item"><a class="tab-inner__link" href="#">Персонажі</a></li>
              <li class="tab-inner__item"><a class="tab-inner__link" href="#">Глосарій</a></li>
            </ul>
          </li>

          <svg class="dropdown" width="24" height="24">
            <use href="./images/sprite.svg#icon-Icon-arr-nav"></use>
          </svg>

        </ul>

      </nav>
      <!--/ navigation -->

      <!-- search-box -->
      <div class="header__search-box">
        <svg class="header__search-icon" width="40" height="40">
          <use href="./images/sprite.svg#icon-search-Icon"></use>
        </svg>
        <button class="header-btm-menu">
          <svg width="24" height="24">
            <use href="./images/sprite.svg#icon-menu-Icon"></use>
          </svg>
        </button>
      </div>
      <!--/ search-box -->
    </div>
  </header>
</div>