<section class="hero">
  <div class="hero__container container">

    <h1 class="hero__title">Українська міфологія в іграх Відьмак</h1>

    <div class="hero__body">

      <picture class="hero__picture">
        <source srcset="./images/hero/witcher-desc.jpeg" media="(min-width: 1200px)">
        <source srcset="./images/hero/witcher-tab.jpeg" media="(min-width: 580px)">
        <img class="hero__img" src="./images/hero/witcher-mob.jpeg" alt="hero">
      </picture>

      <div class="hero__body-content body-content">
        <h2 class="body-content__title">Україна, і її слід в іграх Відьмак</h2>
        <h3 class="body-content__sub-title">
          <a href="#">Міфологія</a>
        </h3>

        <p class="body-content__text">
          Інформація про чудовиськ, яких описують легенди та міфи давніх слов’ян, які проживали на території сучасної
          України.
        </p>

        <div class="body-content__btn-box btn-box">
          <a href="#" class="btn-box__inactive">В укр. міфології</a>
          <a href="#" class="btn-box__active">У грі Відьмак</a>
        </div>
      </div>
    </div>
  </div>
</section>