.backdrop-borovik-gallery {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 8;

  overflow: auto;

  background: rgba(0, 0, 0, 0.911);
  backdrop-filter: blur(3px);

  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &--hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

// ---/-backdrop-borovik-gallery---

.backdrop-borovik__container {
  @include flex;
  flex-direction: column;
  row-gap: 24px;
}

// ----modal-----

.borovik-modal {
  width: 100%;
  max-width: 1080px;
  height: 74dvh;
}

// -----small-gallery--------

.small-gallery {
  @include flex;
  column-gap: 10px;

  &__img {
    width: 64px;
    height: 64px;
    border-radius: 6px;

    object-fit: cover;
    cursor: pointer;

    @media (min-width: 790px) {
      width: 72px;
      height: 72px;
    }
  }
}

.small-gallery__item {
  filter: brightness(50%);
}

.small-img-active {
  transform: scale(1.15);
  filter: brightness(100%);
}

// ----big-img-----

.borovik-modal__img {
  object-fit: contain;
  object-position: center;
  // object-position: center 35%;
  height: 100%;
}

// ------backdrop-borovik-gallery-wicher----------

.small-gallery__img_wich {
  object-position: top;
  object-fit: cover;
}

.borovik-modal__img_wich {
  object-position: center;
  object-fit: contain;
}

.wolf-head-img__box-urk {
  display: none;

  @media (min-width: 1560px) {
    display: block;
    position: fixed;
    top: 28px;
    right: 68px;
    width: clamp(8.438rem, -34.509rem + 44.05vw, 20rem);

    &>div>img {
      filter: drop-shadow(3px 3px 3px #ff7300);
    }
  }
}