.bestiary-section {

  &__title {
    color: var(--accent-text-color);
    font-size: 28px;
    line-height: 128%;

    margin-bottom: 20px;

    @media (max-width: 579px) {
      padding-right: 24px;
      padding-left: 24px;
    }

    @media (min-width: 790px) {
      font-size: 36px;
      line-height: 122%;

      margin-bottom: 24px;
    }

    @media (min-width: 1200px) {
      font-size: 45px;
      line-height: 115%;

      margin-bottom: 22px;
    }
  }
}

// --------BTN-BOX------------------

.bestiary-btn-box {
  @include flex;
  flex-direction: column;
  row-gap: 30px;

  @media (max-width: 579px) {
    padding-right: 24px;
    padding-left: 24px;
  }

  @media (min-width: 790px) {
    @include flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 30px;
  }
}

.myth-btns {
  display: flex;

  width: 100%;
  max-width: 367px;

  border: 1px solid #968E98;
  border-radius: 20px;
  overflow: hidden;

  font-family: var(--secondary-font);
  font-size: 14px;

  &__ukr {
    padding: 10px;
    @include flex;
    justify-content: center;
    flex: 1 1 50%;

    background-color: var(--black-background-color);

    color: #C4C7C7;
    line-height: 150%;
    letter-spacing: 0.15px;
    font-weight: 500;
  }

  &__witcher {
    @include flex;
    justify-content: center;
    flex: 1 1 50%;

    color: #C4C7C7;
    background-color: transparent;
    padding: 10px;
    line-height: 150%;
    letter-spacing: 0.15px;
    font-weight: 500;

    background-color: var(--black-background-color);
  }

  @media (min-width: 790px) {
    font-size: 16px;
  }

  @media (min-width: 1200px) {
    max-width: 450px;
  }
}

// ------sort-btn---------------------------

.sort-btns {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 367px;

  font-family: var(--secondary-font);
  font-size: 14px;

  &__sort {
    @include flex;
    justify-content: center;
    flex: 1 1 50%;

    color: #C4C7C7;

    padding: 10px 12px;

    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.5px;
    background-color: var(--black-background-color);
  }

  &__alphabet {
    @include flex;
    justify-content: center;
    flex: 1 1 50%;

    color: #C4C7C7;
    background-color: #323536;

    padding: 10px 12px;

    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.5px;
  }

  @media (min-width: 790px) {
    font-size: 16px;
  }

  @media (min-width: 1200px) {
    max-width: 450px;
  }
}

// -----/-sort-btn---------------------------

// --------sort-btns__menu---------------------

.sort-btns__menu {
  position: absolute;
  top: 102%;
  right: 0;
  width: 100%;
  z-index: 1;

  cursor: pointer;

  border-radius: 4px;
  padding: 8px 0;

  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  background: rgb(29, 32, 33);

  &-item {
    @include flex;
    column-gap: 12px;
    padding: 8px 12px 8px 12px;
    transition: background-color 150ms linear;

    font-size: 18px;
    font-weight: 700;
    line-height: calc(24 / 16);
    letter-spacing: 0.5px;

    &>svg {
      width: 35px;
      height: 35px;
      padding: 3px;
    }

    &:hover {
      background-color: rgb(54, 58, 58);
    }
  }
}

// ----/----sort-btns__menu---------------------

// -----myth-btns-active----------------------

.myth-btns__active {
  background-color: #004395;
  color: var(--accent-text-color);

  &::before {
    content: '\2713';
    display: block;
    margin-right: 5px;

    transform: rotate(8deg);
  }
}

// ---/--myth-btns-active----------------------


// -----card-list----------------

.bestiary-section__list {
  padding-top: 24px;
  padding-bottom: 48px;

}

.bestiary-item {
  border-radius: 12px;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 40px;
  }

  @media (min-width: 790px) {
    position: relative;

    display: grid;
    grid-template-columns: 55% 45%;

    background-color: var(--dark-gray-color);
  }

  @media (min-width: 1200px) {
    grid-template-columns: 40% 60%;
  }
}

.bestiary-item {
  &:nth-child(2) img {
    object-position: center 20%;
  }
}

.bestiary-item__heder {
  @include flex;
  column-gap: 16px;

  padding: 12px 16px;

  background-color: var(--dark-gray-color);

  @media (min-width: 790px) {
    position: absolute;
    top: 24px;
    left: 32px;
    z-index: 1;

    padding: 0;
  }
}

.bestiary-item__logo {
  background-color: transparent;
  border-radius: 50%;
}

.bestiary-item__svg-more {
  margin-left: auto;
  fill: #363A3A;

  @media (min-width: 790px) {
    display: none;
  }
}

.bestiary-item__title {
  font-size: 22px;
  line-height: 127.273%;
  margin-bottom: 4px;

  @media (min-width: 790px) {
    font-size: 24px;
    line-height: 133%;
  }
}

.bestiary-item__sub-title {
  font-family: var(--secondary-font);
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.15px;

  color: #968E98;
}

// ----IMAGE --------

.bestiary-item__picture {
  @media (min-width: 790px) {
    order: 1;
  }
}

.bestiary-item__img {
  max-height: 200px;
  object-fit: cover;
  object-position: center;

  &-witcher {
    object-position: top;
  }

  &-ukr {
    object-position: center 35%;
  }

  @media (min-width: 790px) {
    max-height: 332px;
  }
}

// ---/-----IMAGE --------

// -----bestiary-body-----------------------

.bestiary-body {
  background-color: var(--dark-gray-color);
  padding: 16px;

  @media (min-width: 790px) {
    margin-top: auto;

    padding: 24px 48px 24px 32px;
  }
}

// -----link-------

.bestiary-body__link-myth {
  display: inline-flex;
  align-items: center;
  column-gap: 8px;

  padding: 6px 16px 6px 8px;

  border: 1px solid #968E98;
  border-radius: 8px;

  font-family: var(--secondary-font);
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.15px;

  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

// -----text-----------

.bestiary-body__text {
  font-family: var(--secondary-font);
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.5px;

  &:not(:last-child) {
    margin-bottom: 32px;
  }

  @media (min-width: 790px) {
    font-size: 18px;
    line-height: 133%;
  }
}

// -------button-------

.bestiary-body__link-btn {
  @include flex;
  justify-content: center;
  column-gap: 8px;

  max-width: 194px;
  margin-left: auto;

  padding: 10px 24px;

  border-radius: 100px;
  background: var(--accent-text-color);
  color: #3A3000;

  @media (min-width: 790px) {
    max-width: 231px;
  }
}