<div class="backdrop-borovik-gallery js-backdrop-borovik-gallery backdrop-borovik-gallery--hidden">

  <div class="nav-btn-container container">
    <div class="container__inner">
      <button class="nav-btn-container__btn nav-btn-container__btn_arr js-backdrop-close">
        <svg class="nav-btn-container__icon">
          <use href="./images/sprite.svg#icon-arrow-btn-left"></use>
        </svg>
      </button>

      <div class="nav-btn-container__btn-box">

        <a href="#" class="nav-btn-container__btn nav-btn-container__btn_arr">
          <svg class="nav-btn-container__icon">
            <use href="./images/sprite.svg#icon-btn-toggleable"></use>
          </svg>
        </a>

        <a href="#" class="nav-btn-container__btn">
          <svg class="nav-btn-container__icon">
            <use href="./images/sprite.svg#icon-toggleable-dark"></use>
          </svg>
        </a>

      </div>
    </div>
  </div>

  <div class="container backdrop-borovik__container">

    <div class="borovik-modal js-borovik-modal">
      <img class="borovik-modal__img js-borovik-modal-img" src="#" alt="404">
    </div>

    <ul class="backdrop-borovik-gallery_small small-gallery js-small-gallery">
      <li class="small-gallery__item" data-id="1">
        <img class="small-gallery__img" src="./images/beasts-main/item-mob-1.jpg" alt="1">
      </li>
      <li class="small-gallery__item" data-id="2">
        <img class="small-gallery__img" src="./images/page-borovik/borovik-item-2.jpg" alt="2">
      </li>
      <li class="small-gallery__item" data-id="3">
        <img class="small-gallery__img" src="./images/page-borovik/borovik-item-3.jpg" alt="3">
      </li>
    </ul>

  </div>

</div>