<div class="backdrop-borovik-gallery js-backdrop-borovik-gallery-wicher backdrop-borovik-gallery--hidden">

  <div class="nav-btn-container container">
    <div class="container__inner">
      <button class="nav-btn-container__btn nav-btn-container__btn_arr js-backdrop-close-wich">
        <svg class="nav-btn-container__icon">
          <use href="./images/sprite.svg#icon-arrow-btn-left"></use>
        </svg>
      </button>

      <div class="nav-btn-container__btn-box">

        <button type="button" class="nav-btn-container__btn js-btn-plus-w">
          <svg class="nav-btn-container__icon nav-btn-container__icon_small">
            <use href="./images/sprite.svg#icon-btn-plus"></use>
          </svg>
        </button>

        <button type="button" class="nav-btn-container__btn js-btn-minus-w">
          <svg class="nav-btn-container__icon">
            <use href="./images/sprite.svg#icon-btn-minus"></use>
          </svg>
        </button>

        <!-- <a href="#" class="nav-btn-container__btn">
          <svg class="nav-btn-container__icon nav-btn-container__icon_small">
            <use href="./images/sprite.svg#icon-container"></use>
          </svg>
        </a> -->

        <a href="#" class="nav-btn-container__btn">
          <svg class="nav-btn-container__icon">
            <use href="./images/sprite.svg#icon-toggleable-dark"></use>
          </svg>
        </a>

      </div>
    </div>
  </div>

  <div class="container backdrop-borovik__container">

    <div class="borovik-modal borovik-modal_wich js-borovik-modal">

      <picture>
        <img class="borovik-modal__img borovik-modal__img_wich js-borovik-modal-img-wich" src="#" alt="borovik">
      </picture>

      <video class="js-borovik-modal-video-witcher" autoplay loop hidden width="100%" height="100%"
        src="./video/page-borovik/spriggan_witcher.mp4">
      </video>

    </div>

    <ul class="backdrop-borovik-gallery_small small-gallery small-gallery_wich js-small-gallery-wich">
      <li class="small-gallery__item" data-id="1">
        <img class="small-gallery__img small-gallery__img_wich" src="./images/beasts-witcher/spriggan.jpg" alt="1">
      </li>
      <li class="small-gallery__item" data-id="2">
        <img class="small-gallery__img small-gallery__img_wich" src="./images/page-borovik/borovik-witcher-item-2.png"
          alt="2">
      </li>
      <li class="small-gallery__item" data-id="3">
        <img class="small-gallery__img small-gallery__img_wich" src="./images/page-borovik/borovik-witcher-item-3.jpg"
          alt="3">
      </li>
    </ul>

  </div>

  <ul class="wolf-head-img__box-urk js-wolf-head-img-box-witcher">
    <li class="wolf-head-img__wrapper">
      <img src="./images/page-borovik/wolf-head-witcher/item-img-1.png" alt="wolf-head-uk" hidden>
    </li>
    <li class="wolf-head-img__wrapper">
      <img src="./images/page-borovik/wolf-head-witcher/item-img-2.png" alt="wolf-head-uk" hidden>
    </li>
    <li class="wolf-head-img__wrapper">
      <img src="./images/page-borovik/wolf-head-witcher/item-img-3.png" alt="wolf-head-uk" hidden>
    </li>
  </ul>

</div>