<section class="borovik-section">

  <div class="borovik-section__container container">

    <h1 class="bestiary-section__title">Боровик</h1>

    <div class="bestiary-section__btn-box bestiary-btn-box">

      <div class="bestiary-btn-box__myth myth-btns">
        <button type="button" class="myth-btns__ukr js-myth-btns_ukr myth-btns__active">
          В укр. міфології
        </button>
        <button type="button" class="myth-btns__witcher js-myth-btn_witcher">
          У грі Відьмак
        </button>
      </div>

    </div>

    <!-- main content Ukr-->

    <div class="borovik__main-content main-content js-main-content">

      <!-- <div class="bestiary-list__item borovik-item">
        <div class="borovik-item__heder">
          <svg width="40" height="40" class="borovik-item__logo">
            <use href="./images/sprite.svg#icon-logo-hed"></use>
          </svg>

          <div class="borovik-item__content">
            <h3 class="borovik-item__title">Боровик</h3>
            <h4 class="borovik-item__sub-title">Українська міфологія</h4>
          </div>

          <a href="#" class="borovik-item__svg-more">
            <svg width="18" height="18" class="borovik-body__logo">
              <use href="./images/sprite.svg#more-vertical"></use>
            </svg>
          </a>
        </div>

        <picture class="borovik-item__picture">
          <a href="#">
            <img class="borovik-item__img borovik-item__img-ukr" src="./images/beasts-main/item-mob-1.jpg" alt="#"
              loading="lazy">
          </a>
        </picture>

        <div class="borovik-item__body borovik-body">

          <a class="borovik-body__link-myth" href="#">
            <svg width="18" height="18" class="borovik-body__logo">
              <use href="./images/sprite.svg#icon-logo-hed"></use>
            </svg>
            Міф
          </a>

          <p class="borovik-body__text">За слов'янською міфологією один з лісових духів, господар борів та гаїв.</p>

        </div>
      </div> -->

      <!-- <ol class="main-content__list">
        <li class="main-content__list-item">
          <h3 class="main-content__list-title">Зміст</h3>
        </li>
        <li class="main-content__list-item">1. Опис</li>
        <li class="main-content__list-item">2. Галерея</li>
        <li class="main-content__list-item">3. Відео</li>
      </ol> -->

      <!-- <div class="main-content__description description-content">

        <h4 class="description-content__title">Опис</h4>

        <p class="description-content__text">
          Боровик — дух особливо густих соснових борів згідно міфології
          слов'ян. Він відрізняється від свого родича кількома деталями;
        </p>
        <p class="description-content__text">
          Перша це ареал проживання, Боровик дуже сильно леліє свої соснові ліси і ненавидить коли туди хтось
          забрідає, тому випадково подорожнього він може просто з'їсти якщо подумаєш що той загрожує його деревам чи
          тваринам.
        </p>
        <p class="description-content__text">
          Друга важлива відмінність — це нелюбов до кішок якщо лісовик любить усіх тварин, то Боровик просто
          ненавидить
          кішок від звуку нявкання кота він шалено лякається і тікає в своє найглибше ліго. Частково саме тому люди що
          жили біля лісів повинні були обов'язково мати в господарстві пару котів, кішок.
        </p>

      </div> -->
    </div>

    <!-- main content Ukr-->

    <!-- gallery-borovik Ukr-->

    <!-- <div class="gallery-borovik__section">

      <div class="borovik__gallery-header gallery-borovik">
        <h2 class="gallery-borovik__title">Галерея</h2>
        <p><a class="gallery-borovik__link" href="#">Подивитись всі</a></p>
      </div>

      <ul class="gallery-borovik__list">

        <li class="gallery-borovik__item gallery-borovik__item-col">
          <img class="gallery-borovik__img gallery-borovik__img-col" src="./images/beasts-main/item-mob-1.jpg" alt="#">
        </li>
        <li class="gallery-borovik__item">
          <img class="gallery-borovik__img" src="./images/page-borovik/borovik-item-2.jpg" alt="#">
        </li>
        <li class="gallery-borovik__item gallery-borovik__item-row">
          <img class="gallery-borovik__img gallery-borovik__img-row" src="./images/page-borovik/borovik-item-3.jpg"
            alt="#">
        </li>

      </ul>

      <button class="gallery-borovik__btn" type="button">У грі Відьмак</button>

    </div> -->

    <!-- gallery-borovik Ukr-->


    <!-- video-borovik Ukr-->

    <div class="video-borovik">
      <div class="video-borovik__header">
        <h3 class="video-borovik__title">Відео</h3>
        <p class="video-borovik__desc">
          Відео з каналу GameWiz UA в якому розповідають про <b>Боровика</b>
        </p>
      </div>

      <div class="video-borovik__video">
        <a class="video-borovik__video-link" href="https://www.youtube.com/watch?v=vvyLSNkRWog&t=570s" target="_blank">
          <img class="video-borovik__video-img" src="./images/page-borovik/video-view.png" alt="#">
        </a>
      </div>
    </div>

    <!-- video-borovik Ukr-->

    <!-- borovik-btn-box Ukr-->

    <div class="borovik__btn-box">
      <a href="#" class="borovik__btn-prev">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
          <g opacity="0.38">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M11.2179 13.6553C10.925 13.9482 10.4501 13.9482 10.1572 13.6553L6.0322 9.53033C5.73931 9.23744 5.73931 8.76256 6.0322 8.46967L10.1572 4.34467C10.4501 4.05178 10.925 4.05178 11.2179 4.34467C11.5108 4.63757 11.5108 5.11244 11.2179 5.40533L7.62319 9L11.2179 12.5947C11.5108 12.8876 11.5108 13.3624 11.2179 13.6553Z"
              fill="#E9C400" />
          </g>
        </svg>
        Попередня
      </a>

      <a href="#" class="borovik__btn-next">
        Наступна
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M6.59467 4.34465C6.88756 4.05176 7.36244 4.05176 7.65533 4.34465L11.7803 8.46965C12.0732 8.76255 12.0732 9.23742 11.7803 9.53031L7.65533 13.6553C7.36244 13.9482 6.88756 13.9482 6.59467 13.6553C6.30178 13.3624 6.30178 12.8875 6.59467 12.5947L10.1893 8.99998L6.59467 5.40531C6.30178 5.11242 6.30178 4.63755 6.59467 4.34465Z"
            fill="#E9C400" />
        </svg>
      </a>
    </div>

    <!-- borovik-btn-box Ukr-->

    <!-- ============================================== -->

    <!-- borovik-witcher-->

    <div class="borovik__main-content main-content">

      <!-- <div class="bestiary-list__item borovik-item">
        <div class="borovik-item__heder">
          <svg width="40" height="40" class="borovik-item__logo">
            <use href="./images/sprite.svg#witcher-icon"></use>
          </svg>

          <div class="borovik-item__content">
            <h3 class="borovik-item__title">Боровик</h3>
            <h4 class="borovik-item__sub-title">Гра «Відьмак 3: Дикий Гін»</h4>
          </div>

          <a href="#" class="borovik-item__svg-more">
            <svg width="18" height="18" class="borovik-body__logo">
              <use href="./images/sprite.svg#more-vertical"></use>
            </svg>
          </a>
        </div>

        <picture class="borovik-item__picture">
          <a href="#">
            <img class="borovik-item__img borovik-item__img-witcher" src="./images/beasts-witcher/spriggan.jpg" alt="#"
              loading="lazy">
          </a>
        </picture>

        <div class="borovik-item__body borovik-body">

          <div class="author-img">
            <h5 class="author-img__title">Доменіко Кава</h5>
            <a class="author-img__link" href="#">Автор малюнку</a>
          </div>

          <a class="borovik-body__link-myth" href="#">
            <svg width="18" height="18" class="borovik-body__logo">
              <use href="./images/sprite.svg#leading"></use>
            </svg>
            Релікти
          </a>

          <p class="borovik-body__text">Боровик (пол. Borowy, англ. Spriggan) — бестія, яка фігурує в книжках
            Сапковського
            та у всесвіті Відьмака.</p>


          <table class="borovik-witcher__table">
            <tr class="borovik-witcher__row">
              <td class="borovik-witcher__data">Клас</td>
              <td class="borovik-witcher__data">Релікти</td>
            </tr>

            <tr class="borovik-witcher__row">
              <td class="borovik-witcher__data">Місце появи/
                <br> Проживання
              </td>
              <td class="borovik-witcher__data">Морвудд</td>
            </tr>

            <tr class="borovik-witcher__row">
              <td class="borovik-witcher__data">Вразливість</td>
              <td class="borovik-witcher__data">знак Ігні
                Двімеритова бомба
                Мастило проти реліктів</td>
            </tr>

            <tr class="borovik-witcher__row">
              <td class="borovik-witcher__data">Тактика</td>
              <td class="borovik-witcher__data">Фізичні атаки</td>
            </tr>

            <tr class="borovik-witcher__row">
              <td class="borovik-witcher__data">Трофей</td>
              <td class="borovik-witcher__data">Так
                З Гротника після виконання завдання «Ноги холодні як лід»</td>
            </tr>
          </table>

        </div>
      </div> -->

      <!-- description-content -->

      <!-- <ol class="main-content__list">
        <li class="main-content__list-item">
          <h3 class="main-content__list-title">Зміст</h3>
        </li>
        <li class="main-content__list-item">1. Опис, Запис у бестіарії</li>
        <li class="main-content__list-item">2. Галерея</li>
        <li class="main-content__list-item">3. Відео</li>
      </ol> -->

      <!-- <div class="main-content__description description-content">

        <h4 class="description-content__title">Гра «Відьмак 3: Дикий Гін»,
          <br> Запис у бестіарії
        </h4>

        <p class="description-content__text">
          Боровики — підвид лісовиків. Натрапити на них можна в недоступних безлюдних хащах. Якщо їх не злити, вони
          можуть і не напасти, але в гніві ці істоти страшні. Боровик дуже кремезний, завдає величезної шкоди, а м’яса
          зжерти може більше, ніж на доброму весіллі подають.
        </p>
        <p class="description-content__text">
          Кожний боровик панує над рослинами й нерозривно пов’язаний із ними. Якщо хтось нищить зелень у володіннях
          боровика, потвора обов’язково прийде й покарає порушника спокою.
        </p>
        <p class="description-content__text">
          У бою боровик управно користується своїми дужими кінцівками. Атакує він стрімко, що, беручи до уваги його
          масивність, може спричинити клопіт. Подібна до кори тверда шкіра боровика витримує навіть сильні вдари мечем,
          а сам він б’є так потужно, що ставити блок не варто й пробувати. Слід пильнувати коріння, яке боровик примушує
          вилазити з-під землі й хапати ворога. Ця потвора вміє також телепортуватися, раптово з’являючись просто перед
          супротивником. Бити його Знаком Аард марно, бо жодна сила цього монстра не повалить.
        </p>

      </div> -->

      <!--/ borovik-witcher-->
    </div>

    <!-- gallery-borovik witcher-->

    <!-- <div class="gallery-borovik__section gallery-borovik__section_wicher">

      <div class="borovik__gallery-header gallery-borovik">
        <h2 class="gallery-borovik__title">Галерея</h2>
        <p><a class="gallery-borovik__link" href="#">Подивитись всі</a></p>
      </div>

      <ul class="gallery-borovik__list">

        <li class="gallery-borovik__item gallery-borovik__item-col">
          <img class="gallery-borovik__img gallery-borovik__img-col gallery-borovik__img-wicher_col"
            src="./images/beasts-witcher/spriggan.jpg" alt="#">
        </li>
        <li class="gallery-borovik__item">
          <img class="gallery-borovik__img gallery-borovik__img-wicher_row"
            src="./images/page-borovik/borovik-witcher-item-2.jpg" alt="#">
        </li>
        <li class="gallery-borovik__item gallery-borovik__item-row">
          <img class="gallery-borovik__img gallery-borovik__img-row gallery-borovik__img-wicher_row"
            src="./images/page-borovik/borovik-witcher-item-3.jpg" alt="#">
        </li>

      </ul>

      <button class="gallery-borovik__btn" type="button">У грі Відьмак</button>

    </div> -->

    <!--/ gallery-borovik witcher-->
</section>